@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* switch these 2 colors with theme */
    --bg-color: hsl(0, 0%, 98%);
    --dark-violet: hsl(256, 26%, 20%);

    --very-dark-violet: hsl(270, 9%, 17%);
    --gray-blue: hsl(216, 30%, 68%);
    --gray-violet: hsl(273, 4%, 51%);

    --font-size: 100%;

    --heading-font: "DM Serif Display", serif;
    --body-font: "Karla", sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;

}